<div class="inner">
  <h1 class="title">Daily Timer</h1>

  <form class="form">
    <span class="form__title">Deadline time:</span>

    <input
      class="form__field"
      [(ngModel)]="endHours"
      placeholder="hours"
      name="hours"
      (change)="handleChange($event, 'hours')"
    >

    <span class="form__text">:</span>

    <input
      class="form__field"
      [(ngModel)]="endMinutes"
      placeholder="minutes"
      name="minutes"
      (change)="handleChange($event, 'minutes')"
    >
  </form>

  <p
    class="timer"
    [ngClass]="{
      'timer_warning': hoursLeft === 0 && minutesLeft >= 0 && secondsLeft >= 0,
      'timer_danger': !isNotExtrawork
    }"
  >
    <span *ngIf="!isNotExtrawork" class="timer__title">You have been doing extrawork for</span>

    <strong class="timer__time">{{ getNumberModule(hoursLeft) }}</strong> h
    <strong class="timer__time">{{ getNumberModule(minutesLeft) }}</strong> m
    <strong class="timer__time">{{ getNumberModule(secondsLeft) }}</strong> s

    <span *ngIf="isNotExtrawork">left</span>
  </p>

  <ul class="list">
    <li
      *ngFor="let i of [].constructor(hoursLeft + 1)"
      class="list__item"
      [ngClass]="{ 'list__item_danger': !hoursLeft }"
      [ngClass]="{
        'list__item_warning': hoursLeft === 0 && minutesLeft >= 0 && secondsLeft >= 0,
        'list__item_danger': !isNotExtrawork
      }"
    >
    </li>
  </ul>
</div>
