<div class="inner">
  <h1 class="title">Daily Timer</h1>

  <form class="form">
    <span class="form__title">Deadline time:</span>

    <input
      class="form__field"
      [(ngModel)]="endHours"
      placeholder="hours"
      name="hours"
      (change)="handleChange($event, 'hours')"
    >

    <span class="form__text">:</span>

    <input
      class="form__field"
      [(ngModel)]="endMinutes"
      placeholder="minutes"
      name="minutes"
      (change)="handleChange($event, 'minutes')"
    >
  </form>

  <p class="timer" [ngClass]="{ 'timer_danger': hoursLeft < 1 }">
    <strong class="timer__time">{{ hoursLeft }}</strong> h
    <strong class="timer__time">{{ minutesLeft }}</strong> m
    <strong class="timer__time">{{ secondsLeft }}</strong> s left
  </p> 
</div>
