$el-width: 16px

$danger-color: #d9534e
$warning-color: #f0ad4e

.inner
  position: relative
  height: 100vh
  background-color: #ffffff

  @media (prefers-color-scheme: dark)
    background-color: #222222

.title
  margin-top: 0
  margin-bottom: 48px
  padding-top: 24px
  font-family: sans-serif
  text-align: center
  font-size: 30px
  color: #222222

  @media (prefers-color-scheme: dark)
    color: #ffffff

.form
  margin-bottom: 120px
  text-align: center

  &__title
    display: block
    padding-bottom: 8px
    font-family: sans-serif
    text-align: center
    font-size: 25px
    font-weight: 600
    color: #222222

    @media (prefers-color-scheme: dark)
      color: #ffffff

  &__text
    font-family: sans-serif
    text-align: center
    font-size: 25px
    font-weight: 600
    color: #222222

    @media (prefers-color-scheme: dark)
      color: #ffffff

  &__field
    width: 55px
    border-top: none
    border-left: none
    border-right: none
    border-bottom: 1px solid #0675d8
    border-radius: 3px

    font-family: sans-serif
    text-align: center
    font-size: 25px
    font-weight: 600
    color: #222222

.timer
  margin-top: 0
  margin-bottom: 32px
  font-family: sans-serif
  text-align: center
  font-size: max(4vw, 4vh)
  color: #222222

  @media (prefers-color-scheme: dark)
    color: #ffffff

  &_warning
    color: $warning-color

  &_danger
    color: $danger-color

  &__title
    display: block

  &__time
    font-size: max(6vw, 6vh)

.list
  display: flex
  flex-wrap: wrap
  justify-content: center
  width: $el-width * 8 * 2
  margin: 0 auto
  padding-left: $el-width

  &__item
    display: block
    height: 64px
    width: $el-width
    margin-bottom: $el-width
    margin-right: $el-width
    border-radius: 3px
    background-color: #222222

    @media (prefers-color-scheme: dark)
      background-color: #ffffff

    &:last-child
      animation: blinking linear 1s infinite alternate

    &_danger
      background-color: $danger-color

    &_warning
      background-color: $warning-color

@keyframes blinking
  0%
    opacity: 0

  100%
    opacity: 1
